/* Estilização de Dados de Entrega - Desktop */

@media only screen and (min-width: 500px) {

.conteudo {
  margin: 10% auto;
}

.tooltip_valid {  
  display: block;
  padding: 0% 2%;
  background: #70d06f;
  border-radius: 3px;
  color: white;
  height: 30px;
  top: 5px;
  left: -7%;
  line-height: 30px;
  position: relative;
  font-size: 16px;
  float: right;
  margin-left: 10px;
}

.tooltip_valid:before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #70d06f;
  border-bottom: 5px solid transparent;
}

.tooltip {  
  display: none;
  padding: 0% 2%;
  background: #fb5555;
  border-radius: 3px;
  color: white;
  height: 30px;
  top: 5px;
  left: -7%;
  line-height: 30px;
  position: relative;
  font-size: 16px;
  float: right;
  margin-left: 10px;
}

.tooltip:before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #fb5555;
  border-bottom: 5px solid transparent;
}

.box_processo_compra.cart {
  color: #55ba6c;
  border: 2px solid #55ba6c;
  background: url('../img/cart_green.png');
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #fff;
}

.box_processo_compra.delivery {
  color: #55ba6c;
  border: 2px solid #55ba6c;
  background: url('../img/account_green.png');
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #fff;
}

.box_processo_compra.payment {
  background: url('../img/coin_grey.png');
  background-repeat: no-repeat;
  background-position: center 20px;
  background-color: #fff;
}

.endereco {
  width: 1026px;
  height: 90%;
  background-color: #f4f4f4;
  margin: auto;
}

.endereco table {
	border-collapse: collapse;
	width: 96%;
	margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.endereco thead tr th {
  padding-bottom: 20px;
}

.endereco tr th {
	text-align: center;
	margin-top: 1%;
	color: #70d06f;
  font-size: 24px;
}

.endereco table tr td {
	padding-bottom: 10px;
}

.endereco table tr td:first-child {
	width: 40%;
	text-align: right;
	font-weight: bold;
	position: relative;
	left: -50px;
}

.endereco table tr td:last-child {
	width: 60%;
	text-align: justify;
}

.endereco tr td input[type="text"], .endereco tr td input[type="number"] {
	width: 60%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  padding: 0 4%;
  outline: none;
	background: #fff;
}

.endereco tr td input[type="reset"] {
  width: 60%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  padding: 0 4%;
  outline: none;
	background: #fff;
  float: right;
}

.endereco tr td input[type="submit"] {
	width: 68%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  padding: 0 4%;
  outline: none;
	background: #55ba6c;
  color: #ffffff;
}


.endereco tr td select {
	width: 68.5%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  text-align-last: center;
  padding: 0 4%;
  outline: none;
  background: #fff;
}

.endereco tr td p {
  text-align: center;
  position: relative;
  left: 50px;
  color: #fb5555;
}

.textarea_resultado {
	width: 60%;
  height: 200px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  padding: 0 4%;
  outline: none;
	background: #fff;
	resize: none;
}

.textarea_resultado::-webkit-scrollbar {
	display: none;
}

.endereco_excluir_link {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.endereco_excluir {
	width: 60%;
	height: 40px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  padding: 0 4%;
  outline: none;
	background: #fb5555;
	resize: none;

}

.endereco_excluir p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

}