.principal{
	border: none;
	width: 1030px;
}

.menu{
	margin-bottom: 40px;
}

.box_botoes_diretoria{
	float: left;
	width: 120px;
}

.box_conteudo_diretoria{
	float: left;
    width: 904px;
    border: 3px solid #4b9260;
}

#aprovacoes{
	display: none;
	overflow: auto;
  height: 800px;
}


.botao_diretoria{
	width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    
    margin-bottom: 5px;
}

.icon_botao_diretoria{
	width: 60px;
	height: 50px;
	margin: 0 auto;
	padding-top: 15px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/graph_icon_preto.svg);

}

.texto_botao_diretoria{
	width: 100px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	color: #000000
}

.destaque{
	background-color: #4b9260;
}

.destaque .icon_botao_diretoria{
	background-image: url(../img/graph_icon.svg);
}

.destaque .texto_botao_diretoria{
	color: #ffffff;
}

.box_para_aprovar{
  width: 398px;
  height: 750px;
  border: 1px solid #4b9260;
  margin-left: 25px;
  margin-right: 25px;
  float: left;
  margin-top: 25px;
  overflow: auto;
}

.box_aprovado{
  width: 398px;
  height: 750px;
  border: 1px solid #4b9260;
  margin-left: 25px;
  margin-right: 25px;
  float: left;
  margin-top: 25px;
  overflow: auto;
}

.box_titulo_itens{
  height: 20px;
  line-height: 20px;
  font-size: 14pt;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.box_itens{
  width: 378px;
  padding: 10px;
  overflow: auto;
  float: left;
}

.box_item_aprovacao{
  width: 100%;
  border-bottom: 1px solid #4b9260;
  height: 150px;
  float: left;
}

.primeiro{
  border-top: 1px solid #4b9260;
}
.box_img_item{
  width: 130px;
  height: 130px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/corvina.jpg);
  border-radius: 10px;
}

.box_img_dieta{
  width: 120px;
  height: 120px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  background: orange;
  border-radius: 10px;
  padding: 5px;
}

.dias_dieta{
  font-size: 12pt;
}

.box_tipo_dieta{
  font-size: 10pt;
}

    

.box_titulo_item{
  width: 210px;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.box_preco_item{
  width: 120px;
  height: 20px;
  float: left;
  margin-left: 100px;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 20px;
  text-align: right;
  color: #004713;
  font-weight: bold;
}

.box_botoes_aprovacao{
  width: 210px;
  height: 45px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.pergunta{
  width: 100%;
}

.resposta{
  width: 100%;
  margin-bottom: 3px;
}

.btn_resposta{
  padding: 3px 10px;
  border-radius: 5px;
  margin-right:20px;
  float: left;
  cursor: pointer;
}

.resposta_sim{
  background-color: #4b9260;
  color: #ffffff;
}

.resposta_nao{
  background-color: #A70000;
  color: #ffffff;
}

.nao_aprovado{
  font-weight: bold;
  color: #A70000
}

.aprovado{
  font-weight: bold;
  color:#4b9260;
}

.aguardando_aprovacao{
  font-weight: bold;
  color:orange;
}
/*Grafico de barras*/

#chart{
  position:relative;
  margin-top:40px;
  width:800px;
  height:200px;
}

#chart2{
  position:relative;
  margin-top:40px;
  width:800px;
  height:200px;
}
@-webkit-keyframes bargrowth{
  0%   {max-height: 0%;}
  100%  {max-height: 100%;}
}
@keyframes bargrowth{
  0%   {max-height: 0%;}
  100%  {max-height: 100%;}
}
.bar{
  -webkit-animation: bargrowth 1000ms ease;
  animation: bargrowth 1000ms ease;
  position:absolute;
  bottom:0;
  display:inline-block;
  background: #89b800;
  box-shadow: 1px -1px #79a300, 2px -2px #79a300, 3px -3px #79a300,   4px -4px #79a300, 5px -5px #79a300, 6px -6px #79a300, 7px -7px   #79a300, 8px -8px #79a300, 9px -9px #79a300, 10px -10px #79a300;
}

.bar2{
  -webkit-animation: bargrowth 1000ms ease;
  animation: bargrowth 1000ms ease;
  position:absolute;
  bottom:0;
  display:inline-block;
  background: #0075B8;
  box-shadow: 1px -1px #00547F, 2px -2px #00547F, 3px -3px #00547F,   4px -4px #00547F, 5px -5px #00547F, 6px -6px #00547F, 7px -7px   #00547F, 8px -8px #00547F, 9px -9px #00547F, 10px -10px #00547F;
}


.wrapper{
  text-align:center;
  margin:0 auto;
  margin-top:30px;
  width:800px;
  font-family:Helvetica;
  font-size:12px;
  margin-bottom: 100px;
}
.wrapper > h1, .wrapper > p{
  margin:0;
}

.product_name{
	position: relative;
    top: -80px;
}

/*Grafico de barras*/