/* Estilização da página de cadastro e visualização de index */

/* Cadastro de index */

/* Seções */

.box_secao {
	width: 26%;
	height: 300px;
	border: 1px solid #000;
	border-radius: 20px;
	margin: 5% 0 0 5%;
	float: left;
}

.box_secao a {
	text-decoration: none;
	color: #000;
}

.box_secao a:hover {
	cursor: pointer;
}

.box_secao_primaria {
	width: 100%;
	height: 45%;
	border-bottom: 1px solid #000;

	/* habilita o flex nos filhos diretos */
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	/* centraliza na vertical */
    -ms-align-items: center;
    -webkit-align-items: center;
	align-items: center;
}

.box_secao_primaria img {
	width: 40%;
	float: left;
	margin-left: 5%;
}

.box_secao_primaria h3 {
	margin-left: 5%;
	font-size: 14px;
	margin-right: 4%;
}

.box_secao_secundaria {
	width: 100%;
	height: 55%;

	/* habilita o flex nos filhos diretos */
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

  	/* centraliza na horizontal */
 	-ms-justify-content: center;
 	-webkit-justify-content: center;
 	justify-content: center;
}

.box_secao_secundaria ul {
	width: 100%;
	margin-top: 1%;
}

.box_secao_secundaria ul li {
	list-style-type: none;
	position: relative;
	margin-left: 33%;
	font-size: 14px;
}

.box_secao_secundaria ul li:nth-child(1):before {
	content:url('../img/eye.png'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
	top: 7px;
	left: -10px;
}

.box_secao_secundaria ul li:nth-child(2):before {
	content:url('../img/plus.png'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
	top: 10px;
	left: -10px;
}

.box_secao_secundaria ul li:nth-child(3):before {
	content:url('../img/pen.png'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
	top: 10px;
	left: -10px;
}

.box_secao_secundaria ul li:nth-child(4):before {
	content:url('../img/delete.png'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
	top: 7px;
	left: -10px;
}
