/* Template de estilização do CMS */

* {
	margin: 0;
	padding: 0;
	font-family: Verdana;
}

body {
	font-family: Verdana;
}

/* Cabeçalho */

.cabecalho {
	width: 100%;
	height: 150px;
	background: linear-gradient(to top, #58c563, #25b944);
	border-radius: 0 0 20px 20px;
}

.centralizando_cabecalho {
	width: 1024px;
	height: 100%;
	margin: auto;
}

/* Caixa do Logo */

.box_esquerda {
	width: 65%;
	height: 100%;
	float: left;
}

.imagem_logo {
	width: 100px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.titulo_logo {
	color: #fff;
	text-shadow: 1px 1px #000;
	position: relative;
	top: 50%;
	left: 3%;
	transform: translateY(-50%);
}

/* Caixa do Usuário */

.box_direita {
	width: 35%;
	height: 100%;
	float: right;
}

/* Usuário*/

.box_usuario {
	width: 50%;
	height: 30%;
	position: relative;
	top: 20%;
	display: block;
	float: right;
}

.user_image {
	width: 40px;
	height: 40px;
	border: 1px solid #888888;
	border-radius: 50%;
	float: left;
	margin-left: 10%;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.user_name {
	width: 100px;
	height: 100%;
	float: left;
	line-height: 40px;
	margin-left: 10px;
	color: white;
	text-shadow: 2px 1px #888888;
	font-size: 18px;
	position: relative;
	top: 45%;
	transform: translateY(-50%);
}

/* Caixa dos botões */

.box_botoes {
	width: 50%;
  height: 30%;
  display: block;
  position: relative;
  top: 20%;
  clear: both;
  float: right;
}

/* Estilização dos botões */

.user_exit {
	width: 30px;
	height: 30px;
	background: url(../img/exit.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;;
	border: none;
}

.user_config {
	width: 30px;
	height: 30px;
	background: url(../img/configuration.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;;
	border: none;
}

.user_web {
	width: 30px;
	height: 30px;
	background: url(../img/web.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: right;;
	margin-left: 28%;
	margin-right: 2%;
	border: none;
}

.user_web:hover, .user_config:hover, .user_exit:hover {
	cursor: pointer;
}

/* Conteúdo */

.conteudo {
	width: 1024px;
	min-height: 1000px;
	margin: auto;
	margin-bottom: 50px;
}

.menu {
	width: 1024px;
	height: 150px;
	border-radius: 20px;
	margin-top: 2%;
}

.menu a {
	color: #000;
	text-decoration: none;
}

.menu ul {
	height: 100%;
}

.menu ul li {
	width: 20%;
	height: 100%;
	list-style-type: none;
	float: left;
}

/* Menu destacado*/
.menu_destacado {
	background-color: #94ffab;
}

.menu_destacado_borda_esquerda {
	border-radius: 20px 0 0 20px;
	background-color: #94ffab;
}

.menu_destacado_borda_direita {
	border-radius: 0 20px 20px 0;
	background-color: #94ffab;
}

.image_menu_prato {
	width: 120px;
	height: 120px;
	background: url(../img/plate.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}
.image_menu_prato {
	width: 120px;
	height: 120px;
	background: url(../img/plate.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}

.image_menu_website {
	width: 120px;
	height: 120px;
	background: url(../img/website.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
	position: relative;
	top: -10px;
}

.image_menu_frozen_fitness {
	width: 120px;
	height: 120px;
	background: url(../img/logo_black_white.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}

.image_menu_usuario {
	width: 120px;
	height: 120px;
	background: url(../img/usuario.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}

.image_menu_sac {
	width: 120px;
	height: 120px;
	background: url(../img/fale_conosco.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
}
.texto_menu {
	text-align: center;
	margin-top: 2%;
}

/* Seção principal */

.principal {
	width: 1024px;
	min-height: 420px;
	border: 1px solid #000;
	border-radius: 20px;
	margin-top: 2%;
	padding-bottom: 60px;
}

/* Rodapé */

.rodape {
	width: 100%;
	height: 150px;
	background: linear-gradient(to top,#58c563, #25b944);
	border-radius: 20px 20px 0 0;
}

.centralizando_rodape {
	width: 1000px;
	height: 100%;
}

.img_ingrediente{
	width: 100px;
    height: 60px;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-image: url(../img/ingrediente_icon.png);
    background-size: cover;
    background-position: center;
}

.img_prato{
	width: 100px;
    height: 60px;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-image: url(../img/ingrediente_icon.png);
    background-size: cover;
    background-position: center;
}

.box_dieta{
	margin: 0 auto;
	width: 180px;
    height: 130px;
    background: orange;
    border-radius: 10px;
    padding: 5px;
}

.box_dias_dieta{
	margin-top: 15px;
    text-align: center;
    color: white;
}

.box_tipo_dieta{
	margin-top: 10px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    color: white;
}

.dias_dieta{
	font-size: x-large;
}

.fundo_preto_transparente{
	position: fixed;
    background: #000000;
    z-index: 300;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    display: none;
}

.esp_mensagem{
	position: fixed;
    width: 100%;
    top: 250px;
    display: none;
    z-index: 400;
}

.box_mensagem{
	width: 600px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    z-index: 400;
    border-radius: 10px;
}

.box_pergunta{
	width: 90%;
    float: left;
    padding: 20px;
    font-size: 14pt;
    font-weight: bold;
}

.dados{
	padding: 20px;
}

.box_resposta{
	padding: 20px;
    height: 40px;
    width: 100%;
}

.label_dados_certeza{
	font-weight: bold;
}

.box_btn_resposta{
	padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}

#btn_resposta_sim{
	background-color: #007716;
	color:#ffffff;
}

#btn_resposta_nao{
	background-color: #770000;
	color:#ffffff;
}

#btn_resposta_sim1{
	background-color: #007716;
	color:#ffffff;
}

#btn_resposta_nao1{
	background-color: #770000;
	color:#ffffff;
}
