/*

Dicas Fitness CSS

*/

@media only screen and (max-width:500px) {

/*
ESTRUTURA
DO
BANNER
*/

.esp_banner{
	width: 100%;
	height: auto;
	padding-bottom: 49%;
	display: block;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../../img/banner2.png');
	position: relative;
	outline: 1px solid #888888;
}

.esp_banner h1 {
	font-size: 1.8em;
	color: #fff;
	text-shadow: 2px 2px #000;
	position: absolute;
	left: 5%;
	bottom: 5%;
}

/*
ESTRUTURA
DO
CONTEUDO
*/

.esp_conteudo {
	clear: both;
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
}

.conteudo {
	width: 100%;
  	height: auto;
  	margin: 0 auto;
  	padding: 10% 0;
}

/*
ESTRUTURA
CATEGORIAS
ARTIGO
*/

.box_categorias{
    width: 98%;
    height: auto;
    border: 3px solid #890000;
    border-radius: 10px;
}

.box_item_categoria {
	width: 100%;
    height: auto;
    line-height: 2.5em;
    float: left;
    text-align: center;
    font-weight: bold;
    background-color: #890000;
    color: #ffffff;
}

.box_item_categoria p {
	font-size: 1em;
}

.box_categoria{
	display: none;
	width: 100%;
    height: auto;
    line-height: 2.5em;
    /* border: 3px solid #890000; */
    float: left;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: #890000;
    background-color: #ffffff;
    /* margin-bottom: -1%; */
}

.box_categoria a {
	color:#890000;
	background-color: #ffffff;
	text-decoration: none;
}

.final{
	margin-right: 0;
}

.select{
	/*border:3px solid #59be6d;*/
	color:#59be6d;
}

.select a {
	color:#59be6d;
}

/*
ESTRUTURA
DOS
ARTIGOS
*/

.box_artigo{
	width: 98%;
	height: auto;
	border: 3px solid #890000;
	border-radius: 10px;
	background-color: #ffffff;
	margin-top: 10%;
	overflow: hidden;
}

.box_artigo_title_data{
	width: 100%;
	height: auto;
	padding: 3%;
	border-bottom: 3px solid #890000;
}

.box_data{
	width: 24%;
  height: auto;
  border: 3px solid #890000;
  border-radius: 10px;
  float: left;
  clear: both;
}

.box_dia{
	width: 100%;
  height: auto;
  line-height: 1.4em;
  color: #890000;
  text-align: center;
  font-size: 2.3em;
}

.box_mes{
	width: 100%;
	height: auto;
	border-top: 3px solid #890000;
	background-color: #890000;
	border-radius: 0 0 10px 10px;
	line-height: 1.8em;
	color: white;
	text-align: center;
	margin-bottom: -4%;
}

.box_title_autor{
	width: 60%;
	margin-left: 5%;
	float: left;
}

.box_title{
	width: 100%;
  max-height: 2.4em;
  padding-bottom: 1%;
  float: left;
  font-weight: bold;
  font-size: 1.14em;
  margin-bottom: 1%;
  overflow: hidden;
}

.box_autor{
	width: 60%;
	height: auto;
	float: left;
}

.box_foto_autor{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-size: 100%;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../../img/autor.png');
	float: left;
}

.box_nome_autor{
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	font-size: 10pt;
	float: left;
}

/*
ESTRUTURA
TEXTO
ARTIGO
*/

.box_texto_foto_artigo {
	width: 100%;
	height: auto;
	border-radius: 0 0 10px 10px;
}

.box_foto_artigo{
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	border-bottom: 3px solid #890000;
}

.box_texto_lermais_artigo{
	width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin: 4% 0;
}

.box_texto_artigo{
	width: 92%;
	max-height: 15em;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.73em;
	margin: 1% 4%;
}

.box_ler_mais{
	width: 35%;
	padding: 2% 5%;
	text-align: center;
	border: 3px solid #59be6d;
	color: #59be6d;
	font-size: 14pt;
	right: 30px;
	bottom: 20px;
	border-radius: 30px;
	cursor: pointer;
	margin: auto;
	margin-top: 3%;
}

.box_ler_mais a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color:#59be6d;
}

}
