/*

	CSS PROMOCOES

*/

@media only screen and (max-width: 500px) {

.esp_conteudo{
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
}

.conteudo{
	width: 100%;
	margin: 0 auto;
}

/*
ESTRUTURA
MENU
CATEGORIA
*/

.box_menu_lateral{
	width: 98%;
	height: auto;
	margin-top: 4%;
	border: 3px solid #890000;
	border-radius: 10px;
	background-color: white;
	float: left;
}

.box_topo_menu_lateral{
	width: 93%;
  height: auto;
  border-radius: 7px 7px 0 0;
  line-height: 40px;
  float: left;
  background: #890000;
  color: white;
  font-weight: bold;
  padding-left: 7%;
}

.box_topo_menu_lateral::after {
	display: inline-block;
	width: 8%;
	height: auto;
	padding-bottom: 8%;
	content: "";
	background: url('../../img/menu.png') no-repeat 0 0;
	background-size: 100%;
	float: right;
	position: relative;
	top: 5px;
	left: -2%;
}

.box_conteudo_menu_lateral{
	width: 86%;
  padding: 2% 0 2% 7%;
  float: left;
}

.item_menu_lateral{
	width: 100%;
	margin-bottom: 2%;
}

.item_menu_lateral a {
	text-decoration: none;
	color: #000;
}

/*
ESTRUTURA
DA
CATEGORIA
*/

.esp_categoria{
	width: 100%;
  height: auto;
  float: left;
  margin: 10% 0;
}

.box_categoria{
	width: 96%;
  border: 3px solid #890000;
  float: left;
  border-radius: 7px;
  position: relative;
  background-color: #ffffff;
  left: 1%;
}
.box_avancar{
	width: 50px;
	height: 313px;
	top:37px;
	position: absolute;
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#anterior{
	left: 0;
	background-image: url('../../img/anterior_icon.png');
}

#proximo{
	right: 0;
	background-image: url('../../img/proximo_icon.png');
}

.box_produtos{
	width: 100%;
	height: auto;
}

.box_produto{
	width: 80%;
	height: auto;
	position: relative;
	left: 10%;
	float: left;
	padding: 3% 0;
	margin-bottom: 5%;
}

.box_img_produto{
	width: 80%;
	height: auto;
	padding-bottom: 53%;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	outline: 1px solid #d0d0d0;
	margin-bottom: 5%;
}

.box_titulo_produto{
	width: 80%;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
	margin-bottom: 5%;
}

.box_descricao_produto{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 10pt;
	margin-bottom: 5%;
}

.preco_kcal{
	margin: 0 auto;
	position: relative;
	margin-bottom: 10px;
}

.preco{
	font-weight: bold;
	color: #003a03;
	text-align: center;
}

.kcal{
	text-align: center;
	font-weight: bold;
	color: #39a962;
}

.box_item_menu_estilo {
	text-decoration: none;
}

.box_botao_produto{
	width: 70%;
	padding: 2.5% 3%;
	text-align: center;
	border-radius: 20px;
	margin: 0 auto;
	margin-bottom: 1%;
	cursor: pointer;
}

#comprar{
	background-color: #41a62a;
	color: white;
}

#ver_detalhes{
	background-color: #bc7325;
	color: white;
}

.promocao{
	width: 40%;
	height: 30%;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../../img/promocao.png);
}

}
